h1,
h2 {
  color: crimson;
  line-height: 1.33;
  margin: 10px 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
}
.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
